@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border text-white;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
